
*.st
*.dii
*.fdx
*.dim
*.fdt
*.fnm
*.ckp
*.tlog
*.si
*.cfe
*.cfs
*.tim
*.tip
*.nvd
*.dvd
*.nvm
*.liv
*.doc
*.dvm
*.pos
*.lock
geonames_index/nodes/0/indices/EbTOUhqQRI6LOYb3hXRlHg/0/index/segments_u
*.qgz
geonames_index/nodes/0/indices/EbTOUhqQRI6LOYb3hXRlHg/0/index/segments_v
*.pgw
*.gz
